@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #F3F3F3;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 21px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img{
    width: 75px;
    height: auto;
    margin: 16px 0 11px 0;
}

header ion-icon {
    width: 45px;
    height: 45px;
    margin: 18px 0 17px 0;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 259px;
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-contatos{
    width: 100%;
    height: 84px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

ul{
    box-sizing: border-box;
    width: 100%;
    margin: 1px 0 0 17px;
}

li{
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
}

.sidebar ion-icon{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.sidebar span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.check{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 47px;
    color: #28BB25;
}

.titulo-visibilidade{
    width: 100%;
    height: 66px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visibilidade{
    width: 100%;
    margin: 1px 0 0 20px;
}

.opcao-visibilidade{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 36px;
}

.check-visibilidade{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 47px;
    color: #28BB25;
}

.chat{
    margin-top: 106px;
}

.mensagem {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px 10px 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
}

.status{
    background-color: #dcdcdc;
}

.public {
    background-color: white;
}

.reservada {
    background-color: #FFDEDE;
}

.mensagem span{
    color: #AAAAAA;
}

.mensagem strong{
    font-weight: 700;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 17px 25px 17px;
}

input{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: black;
    font-weight: 400;
    line-height: 21px;
    border: none;
}

input::placeholder{
    color: black;
}

input:focus {
    border: 0 none;
    outline: 0;
}    

footer ion-icon{
    width: 26px;
    height: 26px;
}